.form {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-top: 0.25rem;
  background-color: #fff;
  margin-bottom: 0.25rem;
  padding: 1rem;

  .item.sc-ion-label-md-h,
  .item .sc-ion-label-md-h {
    font-size: 0.9rem;
  }
}
