<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">Send Appointment</label>
    </div>
    <div class="page-content p-0" [formGroup]="appointmentForm">
      <div class="form">
        <ion-list no-lines>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Enter Radiology Tests *</ion-label>
            <ion-input type="text" formControlName="radiology" required></ion-input>
          </ion-item>
          <div class="error" *ngIf="isSubmit && f.radiology.errors && f.radiology.errors.required">Please Enter
            Radiology Tests</div>
          <ion-item class="ion-no-padding mt-2">
            <ion-label position="floating">Enter Pathology Tests *</ion-label>
            <ion-input type="text" formControlName="pathology" required></ion-input>
          </ion-item>
          <div class="error" *ngIf="isSubmit && f.pathology.errors && f.pathology.errors.required">Please Enter
            Pathology Tests</div>
          <ion-item class="ion-no-padding mt-2">
            <ion-label position="floating">Enter Cardiology Tests *</ion-label>
            <ion-input type="text" formControlName="cardiology" required></ion-input>
          </ion-item>
          <div class="error" *ngIf="isSubmit && f.cardiology.errors && f.cardiology.errors.required">Please Enter
            Cardiology Tests</div>
          <ion-item class="ion-no-padding mt-2">
            <ion-label position="floating">Enter Other Tests</ion-label>
            <ion-input type="text" formControlName="other"></ion-input>
          </ion-item>
        </ion-list>
        <div class="flex-row items-center mt-3">
          <ion-button color="primary" [disabled]="appointmentForm.invalid && loading" (click)="sendAppointment()">Send Appointment Request
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
