.report-tbl {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;

  .r-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;


    .r-h-item {
      width: 25%;
      flex-shrink: 0;
      color: var(--blue);
    }
  }

  .r-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .r-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 1rem;
      border-bottom: 1px solid #eaeaea;

      div {
        width: 25%;
        padding-right: 0.5rem;
        font-size: 0.7rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.graphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  margin-bottom: 0.25rem;
  background-color: #fff;

  &:first-child {
    margin-top: 0.25rem;
  }
}
