<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label [for]="reportDetails?.testName">{{reportDetails?.testName || 'Report Details'}}</label>
    </div>
    <div class="page-content p-0">
      <ng-container *ngIf="reportDetails && reportDetails.finalresult && reportDetails.finalresult.length && !loading">
        <div class="report-tbl">
          <div class="r-header">
            <div class="r-h-item">Test</div>
            <div class="r-h-item">Result</div>
            <div class="r-h-item">Unit</div>
            <div class="r-h-item">Reference</div>
          </div>
          <div class="r-content">
            <div class="r-item" *ngFor="let report of reportDetails.finalresult">
              <div>{{report.reportname || '-'}}</div>
              <div>{{report.result || '-'}}</div>
              <div>{{report.unit || '-'}}</div>
              <div>{{report.normalrange || '-'}}</div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="no-data"
        *ngIf="reportDetails && reportDetails.finalresult && !reportDetails.finalresult.length && !loading">No details
        found.</div>
      <ng-container *ngIf="reportDetails && reportDetails.graphs && reportDetails.graphs.length">
        <div class="content-header">
          <ion-icon name="pulse-outline" class="color-blue mr-2"></ion-icon>
          <label for="graph">Download Graph</label>
        </div>
        <div class="graphs" *ngFor="let graph of reportDetails.graphs" (click)="onDownload(graph)">
          <div>{{graph}}</div>
          <button class="outline-btn">
            <ion-icon name="cloud-download-outline" class="btn-icon"></ion-icon>
            <span>Download</span>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
