<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">Test Report</label>
    </div>

    <div class="page-content p-0">
      <ng-container *ngIf="reportList && reportList.length && !loading">
        <div *ngFor="let report of reportList">
          <div class="content-header mb-1">
            <img src="/assets/icon/report.svg" alt="calendar">
            <label for="about">{{report.department}}</label>
          </div>
          <ng-container *ngIf="report && report.reports && report.reports.length">
            <div class="list-item" *ngFor="let item of report.reports" (click)="viewReport(item.id)">
              <div>{{item.reportname}}</div>
              <button class="outline-btn">
                <ion-icon name="eye-outline" class="btn-icon"></ion-icon>
                <span>View Report</span>
                <ion-ripple-effect></ion-ripple-effect>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <p class="no-data" *ngIf="reportList && !reportList.length && !loading">No Reports Found.</p>
    </div>
  </div>
</ion-content>
