.font-1 {
  font-size: 0.5rem;
}

.font-2 {
  font-size: 1rem;
}

.font-3 {
  font-size: 1.25rem;
}

.font-4 {
  font-size: 1.5rem;
}

.font-5 {
  font-size: 2rem;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.o-auto {
  overflow: auto;
}

.oy-auto {
  overflow-x: hidden;
  overflow-y: auto;
}

.ox-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

.t-center {
  text-align: center;
  justify-content: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

/* margin classes */

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.50rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.25rem;
}

.m-5 {
  margin: 1.5rem;
}

.m-large {
  margin: 2rem;
}

/* margin left classes */
.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.50rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ml-4 {
  margin-left: 1.25rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.ml-large {
  margin-left: 2rem;
}

/* margin top classes */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.50rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mt-large {
  margin-top: 2rem;
}

/* margin right classes */

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.50rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.25rem;
}

.mr-5 {
  margin-right: 1.5rem;
}

.mr-large {
  margin-right: 2rem;
}

/* margin bottom classes */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.50rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-large {
  margin-bottom: 2rem;
}

/* padding classes */
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.50rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.25rem;
}

.p-5 {
  padding: 1.5rem;
}

.p-large {
  padding: 2rem;
}

/* padding left classes */
.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.50rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1.25rem;
}

.pl-5 {
  padding-left: 1.5rem;
}

.pl-large {
  padding-left: 2rem;
}

/* padding top classes */
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.50rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pt-4 {
  padding-top: 1.25rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pt-large {
  padding-top: 2rem;
}

/* padding right classes */
.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.50rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pr-4 {
  padding-right: 1.25rem;
}

.pr-5 {
  padding-right: 1.5rem;
}

.pr-large {
  padding-right: 2rem;
}

/* padding bottom classes */
.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.50rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pb-large {
  padding-bottom: 2rem !important;
}

.pb-actions {
  padding-bottom: 4rem;
}

.b-b-light {
  border-bottom: 1px solid #eaeaea;
}

.b-t-light {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/* display */
.invisible {
  visibility: hidden;
}

.d-none {
  display: none;
}

.bg-white {
  background-color: #ffffff !important;
}

.object-contain {
  object-fit: contain !important;
}

/* corner positioning */
.bottom-left {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.bottom-right {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.bottom-right-0 {
  position: fixed;
  right: 0;
  bottom: 1rem;
}

/* z-index */
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.disable-clickthrough {
  pointer-events: all;
}

.enable-clickthrough {
  pointer-events: none;
}
