.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    flex-shrink: 0;
    color: #fff;
    background-color: var(--blue);

    .profile {
      width: 55px;
      height: 55px;
      color: var(--ion-color-medium);
      margin-right: 1rem;
      color: #fff;
    }

    .username {
      font-size: 1.1rem;
    }

    span {
      color: #d6d6d6;
      font-size: 0.9rem;
      margin-top: 0.2rem;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem 0;
    flex-grow: 1;
    overflow: auto;

    a {
      text-decoration: none;
      outline: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.7rem 1.5rem;
      position: relative;
      color: #000;

      ion-icon {
        margin-right: 1rem;
        width: 20px;
        height: 20px;
        color: var(--blue);
      }
    }

    .active {
      color: var(--blue) !important;
    }
  }
}
