<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="nav">
          <div class="nav-header">
            <ion-icon class="profile" name="person-circle-outline"></ion-icon>
            <div class="flex-column align-stretch">
              <label for="username" class="username">{{userData?.name}}</label>
              <span>Unique ID : {{userData?.pat_id}}</span>
            </div>
          </div>
          <div class="nav-list">
            <a (click)="navigateTo('/')" class="ion-activatable">
              <ion-icon name="home-outline"></ion-icon>
              <label for="home">Home</label>
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a (click)="navigateTo('about-us')" class="ion-activatable">
              <ion-icon name="globe-outline"></ion-icon>
              <label for="Discover Spectrum">Discover Spectrum</label>
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a (click)="navigateTo('health-report')" class="ion-activatable">
              <ion-icon name="pulse-outline"></ion-icon>
              <label for="Health Report">Health Report</label>
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a (click)="navigateTo('take-appointment')" class="ion-activatable">
              <ion-icon name="today-outline"></ion-icon>
              <label for="Take Appointment">Take Appointment</label>
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a (click)="onLogout()" class="ion-activatable">
              <ion-icon name="log-out-outline"></ion-icon>
              <label for="Logout">Logout</label>
              <ion-ripple-effect></ion-ripple-effect>
            </a>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
