<ion-content class="page-container bg-blue">
  <div class="flex-row items-center">
    <h1 class="app-name">SPECTRUM</h1>
  </div>
  <div class="login-card">
    <div class="login-card-header">Existing User</div>
    <div class="card-content">
      <ion-list no-lines>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Mobile No.</ion-label>
          <ion-input [(ngModel)]="formData.mobile" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="otp" class="ion-no-padding">
          <ion-label position="floating">OTP</ion-label>
          <ion-input [(ngModel)]="formData.otp" type="text"></ion-input>
        </ion-item>
        <ion-button expand="full" class="mt-3 login-btn" color="primary" (click)="login()" *ngIf='!otp'>
          Login
        </ion-button>
        <ion-button expand="full" class="mt-3 login-btn" color="primary" (click)="verifyotp()" *ngIf='otp'>
          Verify OTP</ion-button>
        <div class="otp-btn" *ngIf='otp'>
          <span [ngClass]="{'color-primary':!setDisabled}">resend otp</span>
          <label for="timer" class="timer" *ngIf="setDisabled">
            <ion-icon name="stopwatch-outline" class="timer-icon"></ion-icon>
            00:{{timer}}
          </label>
        </div>
      </ion-list>
    </div>
  </div>
  <div class="help">
    <div class="help-header">HELP</div>
    <div class="p-3 pt-2">
      <ol class="help-list">
        <li>Mobile App is only for existing clients of Spectrum Healthcare.</li>
        <li>Existing clients using for first time need to create account.</li>
        <li>Username is your Mobile Number registered with Spectrum Healthcare.</li>
        <li>For any assistance call: +91-97697-23051 / 9869201379 or email: support@spectrumhealthcare.co.in </li>
      </ol>
    </div>
  </div>
  <!--<div style="background-color:#fff; width:90%;margin: auto;padding: auto; border-radius: 10px; ">
    <img src="assets/img/logo-spectrum.png">
  </div> -->
</ion-content>
