.app-name {
  font-family: var(--font-family-medium);
  color: #fff;
  font-size: 3rem;
}

.login-card {
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 10px;

  .login-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 1rem;
    border-bottom: 1px solid #eaeaea;
    border-radius: 10px 10px 0 0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }
}

.help {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  border-radius: 10px;
  margin: 1rem;

  .help-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eaeaea;
    font-family: var(--font-family-medium);
    padding: 1rem;
  }

  .help-list {
    font-size: 0.80rem;
    font-style: italic;
    color: var(--ion-color-medium);

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.otp-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  span {
    text-transform: uppercase;
    color: var(--ion-color-medium);
  }

  .timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    .timer-icon {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }
  }
}
