<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="top-header">
      <div class="logo-container">
        <img src="/assets/img/logo-spectrumlab.jpg" alt="">
      </div>
      <div class="flex-row aling-center items-space-between mt-2" *ngIf="userData">
        <div class="flex-row aling-center">
          <ion-icon name="person-outline" class="mr-2"></ion-icon>
          <span>{{userData.name}}</span>
        </div>
        <label for="number" class="sm-gray-t">Unique ID : {{userData.pat_id}}</label>
      </div>
    </div>
    <div class="card-list">
      <div class="card-row">
        <div class="card-item pr-2">
          <div class="dash-card ion-activatable" routerLink="/about-us">
            <img src="/assets/icon/discover.svg" alt="discover">
            <label for="discover" class="card-title">Discover Spectrum</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
        <div class="card-item pl-2">
          <div class="dash-card ion-activatable" routerLink="/take-appointment">
            <img src="/assets/icon/calendar-outline.svg" alt="Appointment">
            <label for="Appointment" class="card-title">Take Appointment</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </div>
      <div class="card-row">
        <div class="card-item pr-2">
          <div class="dash-card ion-activatable" routerLink="/health-report">
            <img src="/assets/icon/report.svg" alt="report">
            <label for="report" class="card-title">Health Report</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
        <div class="card-item pl-2">
          <div class="dash-card ion-activatable" routerLink="/contact-us">
            <img src="/assets/icon/branch.svg" alt="branch">
            <label for="branch" class="card-title">Spectrum Branches</label>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
