.top-header {
  flex-shrink: 0;
  padding: 1rem;
  padding-top: 0;
  border-bottom: 1px solid #eaeaea;

  .logo-container {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
  }
}

