<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">Contact Us</label>
    </div>
    <div class="page-content">
      <div class="contact" *ngFor="let contact of contactList">
        <div class="city">
          <img src="/assets/icon/location.svg" alt="location">
          <span>{{contact.city}}</span>
        </div>
        <p class="address" [innerHTML]="contact.address"></p>
      </div>
    </div>
  </div>
</ion-content>
