.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 6px -2px #eaeaea;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #fff;
  flex-shrink: 0;


  .city {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;

    img {
      width: 21px;
      margin-right: 0.5rem;
    }

  }

  .address {
    padding: 1rem;
    color: var(--ion-color-medium);
    font-size: 13px;
    margin: 0;
    line-height: 1.5;
  }
}
