<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">Health Report</label>
    </div>
    <div class="content-header">
      <img src="/assets/icon/calendar-outline.svg" alt="calendar">
      <label for="about">Date of test done</label>
    </div>
    <div class="page-content p-0">
      <ng-container *ngIf="reportList && reportList.length && !loading">
        <div class="list-item" (click)="viewTest(report.id)" *ngFor="let report of reportList">
          <div>{{report.date}}</div>
          <button class="outline-btn">
            <ion-icon name="eye-outline" class="btn-icon"></ion-icon>
            <span>View Tests</span>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </ng-container>
      <p class="no-data" *ngIf="reportList && !reportList.length && !loading">No Reports Found.</p>
    </div>
  </div>
</ion-content>
