<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">Take Appointment</label>
    </div>
    <div class="card-list">
      <ng-container *ngIf="!selectedUserType">
        <label for="select type" class="heading">Select User Type</label>
        <div class="card-row">
          <div class="card-item pr-2">
            <div class="dash-card ion-activatable" (click)="onSelectUserType(1)">
              <img src="/assets/icon/corporate.svg" alt="corporate">
              <label for="discover" class="card-title">Corporate</label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
          <div class="card-item pl-2">
            <div class="dash-card ion-activatable" (click)="onSelectUserType(2)">
              <img src="/assets/icon/individual.svg" alt="Appointment">
              <label for="Appointment" class="card-title">Individual</label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedUserType">
        <label for="select type" class="heading">Select Check-up Type</label>
        <div class="card-row">
          <div class="card-item pr-2">
            <div class="dash-card ion-activatable" (click)="onSelectCheckupType('healthCheckup')">
              <img src="/assets/icon/checkup.svg" alt="checkup">
              <label for="checkup" class="card-title">Health Check-up</label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
          <div class="card-item pl-2">
            <div class="dash-card ion-activatable" (click)="onSelectCheckupType('individualTest')">
              <img src="/assets/icon/test.svg" alt="test">
              <label for="test" class="card-title">Individual Test</label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
