<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">About Us</label>
    </div>
    <div class="page-content">
      <p class="mt-0">"PREVENTION IS BETTER THAN CURE"</p>
      <p class="mt-0 sm-gray">To most people, this is sound advice. But to a visionary, it is a business proposition.
        The
        concept of
        providing
        complete multi-disciplinary diagnostic healthcare services in Mumbai was introduced by Dr. Viral Shah.
        That too, at a time when no such facility existed in the city - a fact confirmed by an ORG-MARG study.</p>

      <p>USHERING THE FUTURE OF DIAGNOSTICS</p>
      <p class="mt-0 sm-gray">
        Today, with over medical and paramedical experts having specialized training across a broad spectrum of
        disciplines, Spectrum Healthcare provides comprehensive health check-ups, preemployment, pre-operative and
        insurance screening tests - all under one roof thereby saving precious time. Moreover, ultra-modern equipment
        capable of detecting potentially serious health problems, luxurious ambience and highly personalized service,
        together afford Spectrum Healthcare parity with the services of leading hospitals. And that's what over 2,00,000
        satisfied patrons since the past years bear testimony to. We also provide Web/Cloud based Electronic Medical
        Reports( EMR), a pioneering concept that facilitates access and maintenance of health records.
      </p>
    </div>
  </div>
</ion-content>
