/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "../node_modules/flex-css-classes/css/flex-prefixed.css";
@import './theme/variables.scss';


* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background: #fff;
  font-size: 14px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.bg-blue {
  background-color: var(--blue);
  --background: var(--blue);
}

.color-primary {
  color: var(--primary) !important;
}

.color-blue {
  color: var(--blue) !important;
}

.page-bg {
  background-color: var(--page-bg);
  --background: var(--page-bg);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;

    img {
      width: 21px;
      margin-right: 0.5rem;
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    padding: 1rem;
    overflow: auto;
    font-family: var(--font-family-base);
    background-color: var(--page-bg);

    .sm-gray {
      font-size: 0.9rem;
      color: var(--ion-color-medium);
    }
  }
}

.login-btn {
  font-family: var(--font-family-medium);
}

.main-header {
  ion-toolbar {
    --background: var(--blue);
    --color: #fff;
    background-color: var(--blue);
    color: #fff;
  }
}

.sm-gray-t {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
}

.tabs {
  --color-selected: var(--blue);
}

.outline-btn {
  outline: none;
  min-width: 100px;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
  position: relative;

  .btn-icon {
    width: 17px;
    height: 17px;
    color: var(--blue);
    margin-right: 0.25rem;
  }
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  margin-bottom: 0.25rem;

  &:first-child {
    margin-top: 0.25rem;
  }
}

.no-data {
  text-align: center;
}


.card-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  flex-grow: 1;
  overflow: auto;
  background-color: var(--page-bg);

  .card-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;

    .card-item {
      width: 50%;
      min-height: 150px;

      .ion-activated {
        border-radius: 6px !important;
      }

      .dash-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family-medium);
        width: 100%;
        padding: 1rem;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 0 6px -2px #eaeaea;
        min-height: 130px;
        position: relative;

        img {
          width: 60px;
          height: 60px;
        }

        .card-title {
          font-size: 0.85rem;
          margin-top: 0.5rem;
          text-align: center;
        }
      }
    }
  }
}

.heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.error {
  font-size: 0.7rem;
  margin-top: 0.25rem;
  color: var(--ion-color-danger);
}

.success-msg {
  #alert-1-hdr {
    color: var(--ion-color-success);
  }

  .alert-title.sc-ion-alert-md {
    color: var(--ion-color-success);
  }

  .alert-message {
    font-size: 0.9rem;
  }
}
