<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" class="tabs">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about-us" class="tabs">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contact-us" class="tabs">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
