<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Spectrum Healthcare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="content-header" (click)="onBack()">
      <img src="/assets/icon/back.svg" alt="back">
      <label for="about">Select Plan</label>
    </div>
    <div class="page-content p-0">
      <div class="plan-item" *ngFor="let plan of planList" (click)="sendAppointment(plan.title)">
        <p class="plan-title">{{plan.title}}</p>
        <p class="plan-desc">{{plan.description}}</p>
      </div>
    </div>
  </div>
</ion-content>
