.plan-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0.25rem;
  background-color: #fff;

  &:first-child {
    margin-top: 0.25rem;
  }

  .plan-title {
    color: var(--blue);
    margin: 0;
  }

  .plan-desc {
    font-size: 0.8rem;
  }
}
